.APP {
  width: 100%;
  max-width: 1440px;
  align-items: center;
  margin: 0 auto;
}

.pdp-wrap {
  margin-top: 72px;
  display: flex;
  gap: 40px;
  .pdp-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
