@import "../../variables.scss";
.APP {
  width: 100%;
  max-width: 1440px;
  align-items: center;
  margin: 0 auto;
}

.pdp-wrap {
  margin-top: 72px;
  display: flex;
  gap: 40px;
  .pdp-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .pdp-middle {
    margin-right: 100px;
  }
}

.desc {
  h1 {
    @include basic-font(600, 30px, 27px, #1d1f22);
  }
  h2 {
    @include basic-font(400, 30px, 27px);
  }
}

.desc-midd {
  h1 {
    @include basic-font(700, 18px, 18px, #1d1f22);
  }
  .color-wrap {
    margin-top: 20px;
    h1 {
      @include basic-font(700, 18px, 18px, #1d1f22);
    }
    .color {
      cursor: pointer;
      @include cart-color;
    }
  }
  .size {
    @include cart-size;
  }
  .price {
    margin-bottom: 40px;
    button {
      width: 292px;
      height: 52px;
      cursor: pointer;
      padding: 16px 32px;
      border-style: none;
      color: white;
      background: #5ece7b;
    }
  }
  .desc-bottom {
    display: flex;
    width: 292px;
    height: 103px;
    p {
      @include basic-font(400, 16px, 160%, #1d1f22);
    }
  }
}
