@import "../../variables.scss";
.cart-head {
  margin-top: 80px;
  margin-bottom: 45px;
  h1 {
    @include basic-font(700, 32px, 40px);
  }
}

.cart-wrapper {
  border-top: 1px solid;
  border-top-color: #e5e5e5;
  border-bottom: 1px solid;
  border-bottom-color: #e5e5e5;

  .cart-left {
    float: left;
    h1 {
      margin-top: 24px;
      @include basic-font(600, 30px, 27px);
    }
    h2 {
      margin: 0;
      margin-top: 16px;
      margin-bottom: 20px;
      @include basic-font(400, 30px, 27px);
    }
    span {
      @include basic-font(700, 24px, 24px);
    }
    p {
      @include basic-font(700, 18px, 18px);
    }
  }
  .cart-size {
    @include cart-size;
  }
  .cart-color {
    @include cart-color;
  }

  .cart-right {
    margin-top: 28px;
    float: right;
    .cart-right-counter {
      width: 300px;
      height: 310px;
      display: flex;
      flex-direction: column;

      justify-content: space-between;
      button {
        width: 45px;
        height: 45px;
        border: 1px solid #1d1f22;
      }
    }
  }
}
