@import "../../../variables.scss";

.prod-card-top {
  width: 386px;
  height: 444px;
  padding: 16px;
  align-items: center;
  display: flex;
  cursor: pointer;
  flex-direction: column;

  p {
    @include basic-font(300, 18px, 160%);
  }

  span {
    @include basic-font(500, 18px, 160%, rgb(0, 0, 0));
  }

  .prod-img {
    position: relative;
  }
}

.prod-card-top :hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}
