@import "../../../../variables.scss";
.cart-pop-wrapper {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  right: 10%;
  background: #ffffff;
  padding: 32px 16px;
  gap: 40px;

  h1 {
    margin: 0;
    margin-bottom: 10px;
  }
  .cart-bottom {
    display: flex;
    gap: 12px;
    button {
      cursor: pointer;
      width: 143px;
      height: 43px;
      border: 1px solid #1d1f22;
      background: #ffffff;
    }
  }

  .card-pop-top {
    h2 {
      display: flex;
      width: 130px;
      height: 52px;
      margin: 0;

      @include basic-font(300, 16px, 160%, #1d1f22);
    }
  }

  .cart-size {
    display: flex;
    gap: 10px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    div {
      border: 1px solid #1d1f22;
      width: 30px;
      height: 24px;
      @include flex(center);
    }
  }

  .cart-pop-right {
    position: absolute;
    right: 39%;
    top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .counter {
      position: absolute;
      margin-left: -30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 190px;
    }
  }
  .cart-bottom {
    justify-content: space-between;
  }
  .cart-color {
    display: flex;
    gap: 10px;

    div {
      cursor: pointer;
      width: 16px;
      height: 16px;
    }
  }
}
