@import "../../../../variables.scss";
.pop {
  // position: relative;
  // display: flex;
  // flex-direction: column;

  // width: auto;
  // height: auto;
  // margin-top: 10em;
  // justify-content: center;

  div {
    cursor: pointer;
    width: 114px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div:hover {
    background: #eeeeee;
  }
  h1 {
    margin: 0;
    @include basic-font(500, 18px, 160%);
    font-weight: bold;
  }
}
