@mixin flex($justify) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}

@mixin basic-font($weight, $size, $height, $color: #1d1f22) {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $color;
}

@mixin cart-size() {
  display: flex;
  gap: 12px;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63px;
    height: 45px;
    border: 1px solid #1d1f22;
  }
  div:hover {
    background: #1d1f22;
    color: white;
  }
}

@mixin cart-color {
  display: flex;
  gap: 10px;
  margin-top: 8px;
  margin-bottom: 38px;
  div {
    width: 32px;
    height: 32px;
  }
}
